.product_card{
    max-width: 300px;
    overflow: hidden;
    height: 520px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 5px;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.product_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.col h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    font-size: 30px;
}
.product_card span{
    color: crimson;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    color: white;
    padding: 8px;
}
#btn_buy{
    border-radius: 5px;
    background: #17a2b8;
    margin-right: 5px;
}
#btn_view{
    border-radius: 5px;
    background: #28a745;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}
.product_border{
    border: none;
    border-radius: .25rem;
}